.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  
  color:black;
  padding : 40px;
  font-family: Arial;
  text-align: left;
}

.card{
  border-style: outset;
  width: 100%;
  max-width: 1000px;
  height: auto;

  border-radius: 10px;
}

.card img {
  margin-left: 20px;
  width : 100px ;
  height : 50px;
  border-radius: 25px;
}

.nameUser {
  margin-left: 200px;
  margin-top: -50px;
}

.card p {
  margin-top: -10px;
  margin-left: 200px;
}

.card h3 span{
  color: grey;

}

.spanp{
  color: aqua;
}

.card .image img{
  margin-left: 200px;
  width: 100%;
  max-width: 550px;
  height: auto;
}